version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: petrodiesel_app
    restart: always
    ports:
      - "8080:80"
    environment:
      - DB_HOST=db
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
    volumes:
      - ./:/var/www/html
    networks:
      - petrodiesel_network
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: petrodiesel_db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - petrodiesel_network

  pma:
    image: phpmyadmin/phpmyadmin
    container_name: petrodiesel_pma
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8081:80"
    networks:
      - petrodiesel_network
    depends_on:
      - db

networks:
  petrodiesel_network:
    driver: bridge

volumes:
  dbdata:
